@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

/* Map Tailwind font-sans -> biến Next/font của bạn */
@theme {
  --font-sans: var(--font-body); /* Roboto cho body */
}

/* Tạo class 'font-heading' dùng cho H1/H2 */
@utility font-heading {
  font-family: var(--font-heading), var(--font-sans), ui-sans-serif, system-ui,
    -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Custom animation for slow spinning */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@utility animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

/* Fix tooltip width to accommodate long text */
.tooltip {
  --tooltip-tail: 0.1875rem;
  --tooltip-tail-offset: calc(100% + 0.0625rem - var(--tooltip-tail));
}

.tooltip:before,
.tooltip:after {
  white-space: nowrap;
  max-width: max-content;
}

.tooltip:before {
  white-space: nowrap;
  white-space: normal;
}
